<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title><%= title %></title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <header><%= title %></header>

    <div class="container">
        <form>
            <button name="makeCardBtn">MAKE CARD</button>
            <input name="username" type="text" placeholder="github username" required autofocus>
        </form>

        <div class="card">
            <a title="ID" id="id">&nbsp;</a>
            <div class="social">
                <a title="Blog" id="blog_url" target="_blank">
                    <svg viewBox="0 0 16 16" version="1.1">
                        <path fill="currentColor" fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path>
                    </svg>
                    <span id="blog">&nbsp;</span>
                </a>
                <a title="Twitter" id="twitter" target="_blank">
                    <svg viewBox="0 0 50 50" version="1.1">
                        <path fill="currentColor" d="M 50.0625 10.4375 C 48.214844 11.257813 46.234375 11.808594 44.152344 12.058594 C 46.277344 10.785156 47.910156 8.769531 48.675781 6.371094 C 46.691406 7.546875 44.484375 8.402344 42.144531 8.863281 C 40.269531 6.863281 37.597656 5.617188 34.640625 5.617188 C 28.960938 5.617188 24.355469 10.21875 24.355469 15.898438 C 24.355469 16.703125 24.449219 17.488281 24.625 18.242188 C 16.078125 17.8125 8.503906 13.71875 3.429688 7.496094 C 2.542969 9.019531 2.039063 10.785156 2.039063 12.667969 C 2.039063 16.234375 3.851563 19.382813 6.613281 21.230469 C 4.925781 21.175781 3.339844 20.710938 1.953125 19.941406 C 1.953125 19.984375 1.953125 20.027344 1.953125 20.070313 C 1.953125 25.054688 5.5 29.207031 10.199219 30.15625 C 9.339844 30.390625 8.429688 30.515625 7.492188 30.515625 C 6.828125 30.515625 6.183594 30.453125 5.554688 30.328125 C 6.867188 34.410156 10.664063 37.390625 15.160156 37.472656 C 11.644531 40.230469 7.210938 41.871094 2.390625 41.871094 C 1.558594 41.871094 0.742188 41.824219 -0.0585938 41.726563 C 4.488281 44.648438 9.894531 46.347656 15.703125 46.347656 C 34.617188 46.347656 44.960938 30.679688 44.960938 17.09375 C 44.960938 16.648438 44.949219 16.199219 44.933594 15.761719 C 46.941406 14.3125 48.683594 12.5 50.0625 10.4375 Z"></path>
                    </svg> <span id="twitter_username">&nbsp;</span>
                </a>
                <a title="Github" id="github" target="_blank" href="https://github.com/faisalAkhtar">
                    <svg viewBox="0 0 128 128" version="1.1">
                        <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M64 5.103c-33.347 0-60.388 27.035-60.388 60.388 0 26.682 17.303 49.317 41.297 57.303 3.017.56 4.125-1.31 4.125-2.905 0-1.44-.056-6.197-.082-11.243-16.8 3.653-20.345-7.125-20.345-7.125-2.747-6.98-6.705-8.836-6.705-8.836-5.48-3.748.413-3.67.413-3.67 6.063.425 9.257 6.223 9.257 6.223 5.386 9.23 14.127 6.562 17.573 5.02.542-3.903 2.107-6.568 3.834-8.076-13.413-1.525-27.514-6.704-27.514-29.843 0-6.593 2.36-11.98 6.223-16.21-.628-1.52-2.695-7.662.584-15.98 0 0 5.07-1.623 16.61 6.19C53.7 35 58.867 34.327 64 34.304c5.13.023 10.3.694 15.127 2.033 11.526-7.813 16.59-6.19 16.59-6.19 3.287 8.317 1.22 14.46.593 15.98 3.872 4.23 6.215 9.617 6.215 16.21 0 23.194-14.127 28.3-27.574 29.796 2.167 1.874 4.097 5.55 4.097 11.183 0 8.08-.07 14.583-.07 16.572 0 1.607 1.088 3.49 4.148 2.897 23.98-7.994 41.263-30.622 41.263-57.294C124.388 32.14 97.35 5.104 64 5.104z"></path><path d="M26.484 91.806c-.133.3-.605.39-1.035.185-.44-.196-.685-.605-.543-.906.13-.31.603-.395 1.04-.188.44.197.69.61.537.91zm-.743-.55M28.93 94.535c-.287.267-.85.143-1.232-.28-.396-.42-.47-.983-.177-1.254.298-.266.844-.14 1.24.28.394.426.472.984.17 1.255zm-.575-.618M31.312 98.012c-.37.258-.976.017-1.35-.52-.37-.538-.37-1.183.01-1.44.373-.258.97-.025 1.35.507.368.545.368 1.19-.01 1.452zm0 0M34.573 101.373c-.33.365-1.036.267-1.552-.23-.527-.487-.674-1.18-.343-1.544.336-.366 1.045-.264 1.564.23.527.486.686 1.18.333 1.543zm0 0M39.073 103.324c-.147.473-.825.688-1.51.486-.683-.207-1.13-.76-.99-1.238.14-.477.823-.7 1.512-.485.683.206 1.13.756.988 1.237zm0 0M44.016 103.685c.017.498-.563.91-1.28.92-.723.017-1.308-.387-1.315-.877 0-.503.568-.91 1.29-.924.717-.013 1.306.387 1.306.88zm0 0M48.614 102.903c.086.485-.413.984-1.126 1.117-.7.13-1.35-.172-1.44-.653-.086-.498.422-.997 1.122-1.126.714-.123 1.354.17 1.444.663zm0 0"></path>
                    </svg> <span id="login">&nbsp;</span>
                </a>
            </div>

            <div class="public">
                <div title="Public repos" class="col pub">
                    <svg viewBox="0 0 640 854" version="1.1">
                        <g transform="translate(0.000000,854.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="none">
                            <path d="M382 8520 c-163 -58 -313 -212 -366 -375 -15 -46 -16 -327 -14 -3360 l3 -3310 39 -80 c48 -99 168 -223 262 -273 119 -62 122 -62 736 -62 l558 0 0 -530 c0 -292 3 -530 7 -530 3 0 183 178 400 395 l393 394 393 -394 c216 -217 396 -395 400 -395 4 0 7 238 7 530 l0 530 1358 0 c1492 0 1406 -3 1535 61 94 48 213 172 263 274 l39 80 3 3310 c2 3020 1 3314 -14 3360 -53 164 -205 319 -371 376 -55 19 -115 19 -2817 18 -2676 0 -2763 -1 -2814 -19z m5485 -1887 c-4 -751 -7 -1829 -7 -2395 l0 -1028 -2130 0 -2130 0 0 2395 0 2395 2137 0 2136 0 -6 -1367z m-9 -4400 l-3 -428 -30 -54 c-31 -56 -88 -106 -148 -128 -24 -8 -345 -12 -1254 -12 l-1223 -1 0 265 0 265 -800 0 -800 0 0 -265 0 -265 -422 0 c-404 0 -425 1 -468 21 -55 25 -114 80 -143 134 -21 39 -22 51 -25 468 l-3 427 2661 0 2661 0 -3 -427z"/>
                            <path d="M2130 7205 l0 -275 270 0 270 0 0 275 0 275 -270 0 -270 0 0 -275z"/>
                            <path d="M2130 6135 l0 -275 270 0 270 0 0 275 0 275 -270 0 -270 0 0 -275z"/>
                            <path d="M2130 5070 l0 -270 270 0 270 0 0 270 0 270 -270 0 -270 0 0 -270z"/>
                            <path d="M2130 4005 l0 -275 270 0 270 0 0 275 0 275 -270 0 -270 0 0 -275z"/>
                        </g>
                    </svg>
                    <span id="public_repos">&nbsp;</span>
                    Public repos
                </div>
                <div title="Avatar" class="col">
                    <img id="avatar">
                </div>
                <div title="Followers" class="col pub">
                    <svg viewBox="0 0 16 16" version="1.1">
                        <path fill="currentColor" fill-rule="evenodd" d="M5.5 3.5a2 2 0 100 4 2 2 0 000-4zM2 5.5a3.5 3.5 0 115.898 2.549 5.507 5.507 0 013.034 4.084.75.75 0 11-1.482.235 4.001 4.001 0 00-7.9 0 .75.75 0 01-1.482-.236A5.507 5.507 0 013.102 8.05 3.49 3.49 0 012 5.5zM11 4a.75.75 0 100 1.5 1.5 1.5 0 01.666 2.844.75.75 0 00-.416.672v.352a.75.75 0 00.574.73c1.2.289 2.162 1.2 2.522 2.372a.75.75 0 101.434-.44 5.01 5.01 0 00-2.56-3.012A3 3 0 0011 4z"></path>
                    </svg>
                    <span id="followers">&nbsp;</span>
                    Followers
                </div>
            </div>
            <h3 title="Name" id="name">&nbsp;</h3>
            <p title="Location" class="locationDiv">
                <svg viewBox="0 0 16 16" version="1.1">
                    <path fill="currentColor" fill-rule="evenodd" d="M11.536 3.464a5 5 0 010 7.072L8 14.07l-3.536-3.535a5 5 0 117.072-7.072v.001zm1.06 8.132a6.5 6.5 0 10-9.192 0l3.535 3.536a1.5 1.5 0 002.122 0l3.535-3.536zM8 9a2 2 0 100-4 2 2 0 000 4z"></path>
                </svg>
                <span id="location">&nbsp;</span>
            </p>
            <p title="Bio" id="bio">&nbsp;</p>

            <div class="notFound">
                <svg viewBox="0 -16 512 512" version="1.1">
                    <path fill="currentColor" d="m92.308594 52.230469c0-13.871094-11.28125-25.152344-25.152344-25.152344s-25.15625 11.28125-25.15625 25.152344c0 13.871093 11.285156 25.15625 25.152344 25.15625 13.871094 0 25.15625-11.285157 25.15625-25.15625zm-25.152344 10.15625c-5.601562 0-10.15625-4.558594-10.15625-10.15625 0-5.597657 4.554688-10.152344 10.152344-10.152344 5.601562 0 10.15625 4.554687 10.15625 10.152344 0 5.597656-4.554688 10.15625-10.152344 10.15625zm0 0"/>
                    <path fill="currentColor" d="m126.914062 77.386719c13.871094 0 25.15625-11.285157 25.15625-25.15625 0-13.871094-11.285156-25.152344-25.15625-25.152344-13.867187 0-25.152343 11.28125-25.152343 25.152344 0 13.871093 11.28125 25.15625 25.152343 25.15625zm0-35.308594c5.601563 0 10.15625 4.554687 10.15625 10.152344 0 5.597656-4.554687 10.15625-10.15625 10.15625-5.597656 0-10.152343-4.558594-10.152343-10.15625 0-5.597657 4.554687-10.152344 10.152343-10.152344zm0 0"/>
                    <path fill="currentColor" d="m186.675781 77.386719c13.867188 0 25.152344-11.285157 25.152344-25.15625 0-13.871094-11.285156-25.152344-25.152344-25.152344-13.871093 0-25.15625 11.28125-25.15625 25.152344 0 13.871093 11.285157 25.15625 25.15625 25.15625zm0-35.308594c5.597657 0 10.152344 4.554687 10.152344 10.152344 0 5.597656-4.554687 10.15625-10.152344 10.15625-5.601562 0-10.15625-4.558594-10.15625-10.15625 0-5.597657 4.554688-10.152344 10.15625-10.152344zm0 0"/>
                    <path fill="currentColor" d="m269.667969 59.730469h182.667969c4.140624 0 7.5-3.355469 7.5-7.5 0-4.140625-3.359376-7.5-7.5-7.5h-182.667969c-4.144531 0-7.5 3.359375-7.5 7.5 0 4.144531 3.355469 7.5 7.5 7.5zm0 0"/>
                    <path fill="currentColor" d="m511.578125 26.164062c-.042969-.257812-.089844-.511718-.140625-.769531-.023438-.125-.046875-.253906-.074219-.382812-2.925781-14.253907-15.570312-25.011719-30.679687-25.011719h-449.367188c-17.265625 0-31.316406 14.046875-31.316406 31.316406v417.25c0 17.269532 14.050781 31.316406 31.316406 31.316406h449.367188c17.265625 0 31.316406-14.050781 31.316406-31.316406v-417.25c0-1.753906-.144531-3.472656-.421875-5.152344zm-30.894531 438.71875h-449.367188c-8.996094 0-16.316406-7.320312-16.316406-16.316406v-344.101562h41.808594c4.144531 0 7.5-3.359375 7.5-7.5 0-4.144532-3.355469-7.5-7.5-7.5h-41.808594v-58.148438c0-8.996094 7.320312-16.316406 16.316406-16.316406h449.367188c7.308594 0 13.511718 4.832031 15.582031 11.46875.019531.066406.039063.128906.058594.191406.058593.195313.109375.386719.160156.582032.019531.066406.035156.132812.050781.199218.046875.195313.09375.394532.132813.589844.082031.398438.148437.804688.199219 1.210938.019531.136718.035156.273437.046874.410156.058594.546875.085938 1.101562.085938 1.664062v58.148438h-412.191406c-4.140625 0-7.5 3.355468-7.5 7.5 0 4.140625 3.359375 7.5 7.5 7.5h412.191406v344.101562c0 8.996094-7.320312 16.316406-16.316406 16.316406zm0 0"/>
                    <path fill="currentColor" d="m166.363281 298.246094c2.929688 2.929687 7.675781 2.925781 10.605469 0l14.695312-14.699219 14.699219 14.699219c2.929688 2.929687 7.675781 2.925781 10.605469 0 2.929688-2.929688 2.929688-7.679688 0-10.609375l-14.695312-14.695313 14.695312-14.695312c2.929688-2.929688 2.929688-7.679688 0-10.609375-2.929688-2.925781-7.679688-2.925781-10.605469 0l-14.699219 14.699219-14.695312-14.699219c-2.929688-2.925781-7.679688-2.925781-10.605469 0-2.929687 2.929687-2.929687 7.679687 0 10.609375l14.695313 14.695312-14.695313 14.695313c-2.929687 2.929687-2.929687 7.679687 0 10.609375zm0 0"/>
                    <path fill="currentColor" d="m295.03125 298.246094c2.929688 2.929687 7.675781 2.925781 10.605469 0l14.695312-14.699219 14.699219 14.699219c2.929688 2.929687 7.675781 2.925781 10.605469 0 2.929687-2.929688 2.929687-7.679688 0-10.609375l-14.695313-14.695313 14.695313-14.695312c2.929687-2.929688 2.929687-7.679688 0-10.609375-2.929688-2.925781-7.679688-2.925781-10.605469 0l-14.699219 14.699219-14.695312-14.699219c-2.929688-2.925781-7.679688-2.925781-10.605469 0-2.929688 2.929687-2.929688 7.679687 0 10.609375l14.695312 14.695312-14.695312 14.695313c-2.929688 2.929687-2.929688 7.679687 0 10.609375zm0 0"/>
                    <path fill="currentColor" d="m187.503906 359.773438h136.992188c4.140625 0 7.5-3.355469 7.5-7.5 0-4.140626-3.359375-7.5-7.5-7.5h-136.992188c-4.140625 0-7.5 3.359374-7.5 7.5 0 4.144531 3.359375 7.5 7.5 7.5zm0 0"/>
                    <path fill="currentColor" d="m358.957031 178.355469h-20.457031v-14.875c0-13.765625-11.199219-24.964844-24.960938-24.964844h-115.078124c-13.761719 0-24.960938 11.199219-24.960938 24.964844v14.875h-20.457031c-26.492188 0-48.042969 21.554687-48.042969 48.042969v155.105468c0 26.488282 21.550781 48.042969 48.042969 48.042969h133.292969c4.140624 0 7.5-3.359375 7.5-7.5 0-4.144531-3.359376-7.5-7.5-7.5h-133.292969c-18.21875 0-33.042969-14.824219-33.042969-33.042969v-155.105468c0-18.21875 14.824219-33.042969 33.042969-33.042969h205.914062c18.21875 0 33.042969 14.824219 33.042969 33.042969v155.105468c0 18.21875-14.824219 33.042969-33.042969 33.042969h-44.625c-4.140625 0-7.5 3.355469-7.5 7.5 0 4.140625 3.359375 7.5 7.5 7.5h44.625c26.492188 0 48.042969-21.554687 48.042969-48.042969v-155.105468c0-26.488282-21.550781-48.042969-48.042969-48.042969zm-170.457031 0v-14.875c0-5.496094 4.46875-9.964844 9.960938-9.964844h115.074218c5.496094 0 9.964844 4.46875 9.964844 9.964844v14.875zm0 0"/>
                </svg>
                <p>User not found</p>
            </div>
        </div>

        <button class="copyLink">Copy link</button>
        <button class="openInNewWindow">Open in new window</button>
    </div>

    <footer>With &hearts; from <a onclick="sendQuery('faisalAkhtar')">Faisal</a> and <a onclick="sendQuery('goyalshubhangi')">Shubhangi</a></footer>

    <script src="Script.js"></script>
</body>
</html>